@font-face {
    font-family: libre;
    src: url(/font/librebaskerville-regular-webfont.woff);
}

@font-face {
    font-family: libre;
    src: url(/font/librebaskerville-bold-webfont.woff);
    font-weight: bold;
}

@font-face {
    font-family: libre;
    src: url(/font/librebaskerville-italic-webfont.woff);
    font-style: italic;
}

*{
    margin: 0;
    padding: 0;
    font-family: libre;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    box-sizing: border-box;
}

*::-webkit-scrollbar{
    display: none;
}




h1{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
    font-size: 80px;
    color: #1C2C59;
    font-style: italic;
}

h2{
    margin-bottom: 20px;
    padding: 20px;
    font-size: 60px;
    color: #1C2C59;
    font-style: italic;
}

/* Slideshow */
.slideshow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    max-width: 1000px;
}
.slide{
    width: 75%;
    height: 300px;
    margin: 100px 0 0 157px;
    opacity: .7;
    border-radius: 20px;
    object-fit: cover;
}
/* Hide the images by default */
.mySlides {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Caption text */
.text {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Navbar Design*/
.container{
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 100;
    background: #1C2C59;
    position: fixed;
    box-shadow: 0 4px 2px -2px gray;
}
.navBar ul{
    display: inline-flex;
    align-items: center;
    margin: 20px;
}
.navBar ul li a{
    text-decoration: none;
    color: whitesmoke;
}
.navBar ul li{
    list-style: none;
    margin: 0 30px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.navBar ul li a:hover{
    color: grey;
    transition: all ease-in-out 300ms;
}
.logo img{
    width: 75px;
}

/* Welcome Section*/
.welcome{
    display: grid;
    place-items: center;
    text-align: center;
}
.welcomeP{
    display: inline-block;
    width: 600px;
    padding-bottom: 20px;
    font-size: 20px;
}
.banner{
    display: flex;
    width: 100%;
    height: 175px;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Footer Design*/
.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1C2C59;
    text-align: center;
}
.footer ul{
    display: inline-flex;
    align-items: center;
    margin: 10px;
}
.footer ul li{
    list-style: none;
    margin: 0 30px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.footer ul li a{
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    margin: 20px;
}
.footer ul li a:hover{
    color: grey;
    transition: all ease-in-out 300ms;
}

/* Location Design*/
.res{
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 25px;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
}
.col{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin-right: 25px;
    margin-left: 50px;
}
.row h2, p{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputField{
    -webkit-appearance: none;
    min-height: calc(0.9em + (0.8em * 2) + 0.6em);
    width: 615px;
    height: 45px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #1C2C59;
    background-color: #e6dddd60;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    transition: background 0.25s, border-color 0.25s, color 0.25s;
}
.inputField:focus{
    background: #ffffff;
}
.inputField::placeholder{
    color: #1C2C59;
}

.button{
    width: 150px;
    height: 45px;
    padding: 10px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    background-color: #1C2C59;
    border: none;
    border-radius: 25px;
}
.button:hover{
    cursor: pointer;
    width: 150px;
    height: 45px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #1C2C59;
    background-color: whitesmoke;
    color: #1C2C59;
    border-radius: 25px;
}

/* The Modal (background) */
.modal {
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
/* Modal Content/Box */
.reserve{
    text-align: center;
}

/* Sign Up */
.reserve li{
    list-style: none;
    color: #1C2C59;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.reserve li a{
    text-decoration: none;
    color: #1C2C59;
}
.reserve li a:hover{
    color: grey;
    transition: all ease-in-out 300ms;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
}

.search .inputField{
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-left: 75px;
    width: 600px;
}

.search button{
    align-items: center;
    justify-content: center;
    margin-left: 290px;
}

.menu h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu img{
    display: block;
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.menu .welcomeP{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.menu .add{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.column {
    width: 33.33%;
}
  
/* Clear floats after the columns */
.row:after {
    display: flex;
    clear: both;
}

.add{
    padding: 2px;
    height:30px;
    width:75px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    background-color: #1C2C59;
    border: none;
    border-radius: 25px;
}
.add:hover{
    cursor: pointer;
    padding: 2px;
    height:30px;
    width:75px;
    margin: 5px;
    border: 1px solid #1C2C59;
    background-color: whitesmoke;
    color: #1C2C59;
    border-radius: 25px;
}

input:focus:invalid {
    border: 2px  solid red;
}

input:focus:valid {
    border: 2px  solid green;
}